<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Landing Page Flask Assignment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/basiccss.css') }}" media="screen" title="no title" charset="utf-8">
    <script type='text/javascript' src="{{ url_for('static', filename='js/basicjs.js') }}"></script>
  </head>
  <body>
    <p>
      HELLO STUDENTS!
      (this is the dojo.html)
      <form class="" action="" method="post">
        <select id="dojoButton">
            <option value="Seattle">Seattle</option>
            <option value="NewYork">New York</option>
        </select>
        <button type="">Press a Button!</button>
      </form>
    </p>
  </body>
</html>
